<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Stopwatch + Calendar</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Stopwatch</h1>
    <h2>Test</h2>
    <div class="stopwatch">
      <div class="time">
        <output id="display-stopwatch">00:00:00.000</output>
        <br/>
        <output id="display-interval">00:00:00.000</output>
      </div>
      <div class="controls">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="split">Split</button>
        <button id="reset">Reset</button>
      </div>
      <!--Table Goes here-->
      <div id="time-table"></div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
